.main {
  width: 100vw;
  height: 100vh;
}

#circleAnimation {
  position: absolute;
  left: 50%;
  top: 10%;
}

svg {
  color: white;
}

nav {
  font-family: "Flama";
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  position: fixed;
  left: 0;
  top: 0;
  padding: 45px 60px;
}

.leftNav {
  display: flex;
  align-items: center;
}

.leftNav>p {
  margin-left: 5px;
  font-size: 25px;
  font-weight: 600;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerC {
  width: 25px;
  height: 25px;
  border: 5px solid #C29A94;
  border-radius: 50%;
}

.centerNav {
  display: flex;
  gap: 60px;
}

.bottomNav {
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: fixed;
  width: 92vw;
  bottom: 40px;
  margin-left: 60px;
}

.cir {
  height: 50px;
  background-color: #C8A49F;
  display: flex;
  align-items: center;
  justify-content: center;
  /* backdrop-filter: blur(1px); */
  border: 1px solid rgba(255, 255, 255, 0.402);
}

.leftBottomNav {
  width: 160px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.rightBottomNav {
  border-radius: 50%;
  width: 50px;
}

.rightBottomNav>div {
  width: 3px;
  height: 3px;
  background-color: white;
}


.rightBottomNav>div:not(:nth-child(3)) {
  margin-right: 4px;
}


.colorCir {
  width: 25px;
  height: 25px;
  border: 3px solid white;
  border-radius: 50%;
  /* margin-right: 5px; */
}

.heroText {
  position: absolute;
  left: 12%;
  top: 31%;
}

.lText{
  font-size: 65px;
  font-weight: 800;
  line-height: 1.1;
}

.descHero{
  width: 55%;
  font-size: 22px;
  margin-top: 40px;
}

.linkHero{
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
}

.linkHero > i {
  margin-left: 10px;
  margin-top: 4px;
  font-weight: normal;
}